

/.gradle/
/.idea/
/Internationalization/.gradle/
/Internationalization/gradle/
/liquibase/.gradle/
/liquibase/.idea/
/liquibase/build/
/liquibase/gradle/

/liquibasev1/.gradle/
/liquibasev1/.idea/
/liquibasev1/build/
/liquibasev1/gradle/

/Profiling/.gradle/
/Profiling/gradle/
/db-migration/liquibase/.gradle/
/HALBrowser/gradle/wrapper/
/Internationalization/build/
/db-migration/liquibase/build/
/db-migration/liquibasev1/.gradle/
/db-migration/liquibasev1/build/
/db-migration/liquibasev1/gradle/wrapper/
